@media (max-width: 1000px) {
    .wrapper {
        max-width: 765px;
    }
  
    .section-left {
        min-width: 40%;
    }
  
    .section-right {
        max-width: 60%;
    }
  }
  
  @media (max-width: 765px) {
    .wrapper {
        max-width: none;
    }
  
    .section-left, .section-right {
        min-width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .language-javascript {
      font-size: 11px;
    }
  
  }
  
  a {
    text-decoration: none;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-align: justify;
  }
  
  li {
    list-style-type: none;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #313131;
    background-color: #e7e5ba;
  }
  
  pre {
    margin: 0;
  }
  
  h1 {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    line-height: 38px;
    letter-spacing: 1px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .section-left h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
  }
  
  .section-right h2 {
    text-transform: uppercase;
    font-size: 26px;
  }
  
  .contacts,
  .list-skills,
  .language {
    margin-top: 50px;
  }
  
  .border-left{
    border-left: #880001 5px solid;
    padding-left: 15px;
  }
  
  .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #FFFFFF;
  }
  
  .position {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }
  
  .code-sample p {
    margin-bottom: 0;
  }
  
  .profile,
  .education,
  .projects {
    margin-bottom: 60px;
  }
  
  .list,
  .list-contacts {
    padding-left: 0;
    list-style-type: none;
  }
  
  .wrapper {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 320px;
  }
  
  .header {
    height: 50px;
    background-color: #1a3540;
    margin: 30px 0 15px;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 5px, rgb(0 0 0 / 10%) 0px -1px 5px;
  }
  
  .header-list {
    display: flex;
      flex-direction: row;
      justify-content: space-around;
    margin: 0;
    padding: 15px 1px;
    font-size: 13px;
    line-height: 20px;
  }
  
  .header-item {
    list-style: none;
    text-transform: uppercase;
  }
  
  .header-link {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 5px, rgb(0 0 0 / 10%) 0px -1px 5px;
  }
  
  .section-left {
    width: 30%;
    background-color: #3b5959;
    padding: 40px;
    color: #FFFFFF;
    font-size: 18px;
  }
  
  .section-right {
    flex-direction: column;
    width: 70%;
    padding: 40px 50px;
  }
  
  .preview-image {
    width: 100%;
  }
  
  .preview-card h3 {
    text-transform: uppercase;
    color: #880001;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .preview-card h4 {
    font-size: 16px;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: #313131 1px solid;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    margin: 15px 0 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #1a3540;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 5px, rgb(0 0 0 / 10%) 0px -1px 5px;
  }
  
  .footer-time {
    font-size: 22px;
    color: #FFFFFF;
  }
  
  figure {
    margin: 0;
  }
  
  .avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  
  .rsschool-icon {
    height: 25px;
  }
  
  .github-icon {
    height: 45px;
  }
  